@import "../../vendor/variables";

.card__tools {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 35px;
  align-items: center;
  margin: 0;
}

.card__tool {
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: $opacityTransition;
}

.card__tool:hover {
  opacity: $opacityHover;
}

.card__tool_change {
  background-image: url("../../images/rewrite-icon.png");
}

.card__tool_learned {
  background-image: url("../../images/done-icon.svg");
}

.card__tool_unlearned {
  background-image: url("../../images/undone-icon.svg");
}

.card__tool_delete {
  background-image: url("../../images/delete-icon.svg");
}
