@import "../../vendor/variables";

.word-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border: 3px solid $mainBlueColor;
  border-radius: 30px;
  max-width: 85%;
  width: 100%;

  @media screen and (max-width: 700px) {
    max-width: 80%;
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
    gap: 40px;
    max-width: 280px;
    box-sizing: border-box;
  }
}

.word-line__form {
  display: flex;
  gap: 15px;
}

.word-line__input {
  color: black;
  background-color: transparent;
  border: none;
  font-size: 18px;
}

.word-line_changing {
  padding: 5px;
  border: 1px solid $mainPinkColor;
  border-radius: 10px;
}

.word-line__button {
  background-color: $mainPinkColor;
  color: $mainWhiteColor;
  font-size: 14px;
  border: none;
  border-radius: 7px;
  padding: 7px;
  cursor: pointer;
  transition: $opacityTransition;
}

.word-line__button:hover {
  opacity: $opacityHover;
}


