@import "../../vendor/variables";

.word-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border: 3px solid $mainBlueColor;
  border-radius: 30px;
  max-width: 85%;
  width: 100%;

  @media screen and (max-width: 700px) {
    max-width: 80%;
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
    gap: 40px;
    max-width: 280px;
    box-sizing: border-box;
  }
}

.word-line__text {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
}
