@import "../../vendor/variables";

.not-found {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.not-found__text {
  margin: 0;
  padding: 0;
  max-width: 300px;
  font-size: 19px;
  color: $mainPinkColor;
  text-align: center;
}

.not-found__link {
  margin: 0;
  padding: 15px 25px;
  background-color: $mainBlueColor;
  color: $mainWhiteColor;
  border-radius: 30px;
  text-decoration: none;
  transition: $opacityTransition;
}

.not-found__link:hover {
  opacity: $opacityHover;
}
